<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数组更新</title>
	<style>
	</style>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>	
<body>
	<div id="app">
		<input type="text" v-model="value">
		<p>{{value}}</p><br>
		<textarea name="" id="" cols="30" rows="10" v-model="msg"></textarea>
		<p>{{msg}}</p>
		<br>
		<input type="radio" name="" :checked="oneradio">
		<br>
		1:<input type="radio" v-model="look" name="check" value="1">
		2:<input type="radio" v-model="look" name="check" value="2">
		3:<input type="radio" v-model="look" name="check" value="3">
		{{look}}		
	</div>
</body>
<script>
	var app = new Vue({
		el:'#app',
		data:{
			arr:['book','pen','yooo'],
			value:'',
			msg:'',
			oneradio:false,
			look:''
		}
	})
</script>
</html>