<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div id="app">
  <alert msg="yooooooo"></alert>
  <like></like>
  <user username="biaoyansu"></user>
  <!-- <p>{{ message }}</p> -->
      
  <!-- <input type="text" v-model="message"> -->
  <!-- 创建一个 todo-item 组件的实例 -->
<!--   <ol>
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id">
    </todo-item>
  </ol> -->
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> 
<!-- <script src="component.js"></script> -->
<!-- <script src="test.js"></script> -->
<script>
  //Vue.component('alert',{
    // template:'<button @click="on_click">点这个</button>',
    // methods:{
    //   on_click:function(){
    //     alert('yo...')
    //   }
    // }
   // })
   Vue.component('like',{
    template:`
    <button @click="toggle_like()">赞{{like_count}}</button>
    `,
    data:function(){
      return {
        like_count:10,
        liked:false
      }
    },
    methods:{
      toggle_like:function(){
        if(!this.liked){
          this.like_count++;
        }else{
          this.like_count--;
        }
        this.liked = !this.liked
      }
    }
   })
   Vue.component('user',{
    template:'<a :href="\'/user/\'+username">{{username}}</a>',
    props:['username'],
    methods:{}
   })
   var alertComponent = {
      template:'<button @click="on_click">点这个</button>',
      props:['msg'],
      methods:{
        on_click:function(){
          alert(this.msg)
         }
       }
    };

    var app = new Vue({
      el:'#app',
      components:{
        alert:alertComponent
      }
    })
</script>
</html>