<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件</title>
	<style>
	</style>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>	
<body>
	<div id="app">
		<p>余额是</p><p>{{total}}</p>
		<input type="text" v-model="abc">{{abc}}
		<son-component v-model="total"></son-component>
	</div>
</body>
<script>
	Vue.component('son-component',{
		template:`
		<div>
			<button @click="handleincrease">+1</button>
		</div>
		`,
		data:function(){
			return{
				count:1000
			}
		},
		methods:{
			handleincrease(){
				this.count+=1,
				this.$emit('input',this.count)
			}
		}
	})
	new Vue({
		el:'#app',
		data:{
			total:1000,
			abc:6666
		},
		methods:{

		}
	})

</script>
</html>